/* perfil.css */

.perfil{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  border: 2px solid #ccc;
  width: 50%; /* Set width to 50% */
  height: 70%; /* Set height to 70% */
  margin: auto; /* Center the div horizontally */
  margin-top: 10px;
  margin-bottom: 10px;
}

.perfil img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 15px;
}

/* Add additional styles as needed */
